DISCORD_TOKEN=PUT_YOUR_BOT_TOKEN_HERE
CLIENT_ID=PUT_YOUR_APPLICATION_ID_HERE
GUILD_ID=PUT_YOUR_SERVER_ID_HERE
ADMIN_ROLE_ID=PUT_YOUR_ADMIN_ROLE_ID_HERE
STARTING_BALANCE=1000
DAILY_AMOUNT=250
LOG_CHANNEL_ID=
